body {
  background-color: black;
  text-align: center;
  font-family: Verdana;
}

h1 {
  color: white;
  font-weight: normal;
  font-size: 50px;
}

a {
  color: aquamarine;
  font-size: 16px;
  font-weight: normal;
  text-decoration: underline;
}

.video {
  margin-top: 20px;
}

h2 {
  color: white;
  font-size: 42px;
  font-weight: 300;
}
p {
  color: gray;
  font-size: 21px;
}

footer {
  margin-top: 30px;
}

footer p {
  text-align: right;
}
